<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/></h1>
      <div class="resource">
        <label>Race: </label>
        <input type="text" name="system.race" value="{{system.race}}" placeholder="Human"/>
      </div>
      <div class="resource">
        <label>Current STA: </label>
        <input class="sta-current" type="number" step="1" min="1" max="100" name="system.stamina.current" value="{{system.stamina.current}}" data-dtype="Number"/>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="abilities">Abilities</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="bio">Biography</a>
  </nav>

  <section class="sheet-body">
    <div class="tab abilities" data-group="primary" data-tab="abilities">
      <div class="abilities-list paired">
    <div class="ability-row">
      <label>STR</label>
      <input type="number" step="1" min="1" max="100" name="system.str.value" value="{{system.str.value}}" data-dtype="Number"/>
      <label>STA</label>
      <input class="sta-max" type="number" step="1" min="1" max="100" name="system.stamina.value" value="{{system.stamina.value}}" data-dtype="Number"/>
    </div>

        <div class="ability-row">
          <label>DEX</label>
            <input type="number" step="1" min="1" max="100" name="system.dex.value" value="{{system.dex.value}}" data-dtype="Number"/>
          <label>RS</label>
          <input class="rs-input" type="number" step="1" name="system.rs" value="{{system.rs}}" data-dtype="Number"/>
        </div>

        <div class="ability-row">
          <label>INT</label>
            <input type="number" step="1" min="1" max="100" name="system.int.value" value="{{system.int.value}}" data-dtype="Number"/>
          <label>LOG</label>
            <input type="number" step="1" min="1" max="100" name="system.log.value" value="{{system.log.value}}" data-dtype="Number"/>
        </div>

        <div class="ability-row">
          <label>PER</label>
            <input type="number" step="1" min="1" max="100" name="system.per.value" value="{{system.per.value}}" data-dtype="Number"/>
          <label>LDR</label>
            <input type="number" step="1" min="1" max="100" name="system.ldr.value" value="{{system.ldr.value}}" data-dtype="Number"/>
        </div>

        <div class="ability-row">
          <label>IM</label>
          <input class="im-display" type="number" step="1" value="{{system.im}}" data-dtype="Number" readonly aria-readonly="true"/>
        </div>
      </div>
    </div>

    <div class="tab items" data-group="primary" data-tab="items">
      <div class="items-section">
        <h3>Skills</h3>
        <ol class="items-list">
          {{#each skills as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        </ol>

        <h3>Weapons</h3>
        <ol class="items-list">
          {{#each weapons as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <h4 class="item-name">{{item.name}}</h4>
              <span class="item-damage">{{item.system.damage}}</span>
              <div class="item-controls">
                <a class="item-control item-roll" title="Roll Damage"><i class="fas fa-dice-d20"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        </ol>

        <h3>Equipment</h3>
        <ol class="items-list">
          {{#each equipment as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        </ol>
      </div>
    </div>

    <div class="tab biography" data-group="primary" data-tab="bio">
      <div class="editor">
        {{editor system.biography target="system.biography" button=true owner=owner editable=editable}}
      </div>
    </div>
  </section>
</form>